<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyriexu.dao.AccessControlDao">
    <insert id="save" parameterType="com.kyriexu.model.AccessControl">
        insert into gateway_service_access_control
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="accessControl.serviceId != null">
                service_id,
            </if>
            open_auth,
            <if test="accessControl.blackList != null">
                black_list,
            </if>
            <if test="accessControl.whiteList != null">
                white_list,
            </if>
            <if test="accessControl.whiteHostName != null">
                white_host_name,
            </if>
            clientip_flow_limit,
            service_flow_limit,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accessControl.serviceId != null">
                #{accessControl.serviceId},
            </if>
            #{openAuth},
            <if test="accessControl.blackList != null">
                #{accessControl.blackList},
            </if>
            <if test="accessControl.whiteList != null">
                #{accessControl.whiteList},
            </if>
            <if test="accessControl.whiteHostName != null">
                #{accessControl.whiteHostName},
            </if>
            #{accessControl.clientipFlowLimit},
            #{accessControl.serviceFlowLimit},
        </trim>
    </insert>
    <update id="update"
            parameterType="com.kyriexu.model.AccessControl">
        update gateway_service_access_control
        <set>
            <trim suffixOverrides=",">
                open_auth = #{accessControl.openAuth},
                <if test="accessControl.blackList != null">
                    black_list = #{accessControl.blackList},
                </if>
                <if test="accessControl.whiteList != null">
                    white_list = #{accessControl.whiteList},
                </if>
                <if test="accessControl.whiteHostName != null">
                    white_host_name = #{accessControl.whiteHostName},
                </if>
                clientip_flow_limit = #{accessControl.clientIpFlowLimit},
                service_flow_limit = #{accessControl.serviceFlowLimit},
            </trim>
        </set>
        <where>
            service_id = #{accessControl.serviceId}
        </where>
    </update>


    <select id="get" resultType="com.kyriexu.model.AccessControl">
        select *
        from gateway_service_access_control
        where service_id = #{serviceId};
    </select>
</mapper>