<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyriexu.dao.HttpRuleDao">

    <select id="get" resultType="com.kyriexu.model.HttpRule">
        select *
        from gateway_service_http_rule
        where service_id = #{serviceId};
    </select>
</mapper>