<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyriexu.dao.LoadBalanceDao">
    <insert id="save" parameterType="com.kyriexu.model.LoadBalance">
        insert into gateway_service_load_balance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loadBalance.serviceId != null">
                service_id,
            </if>
            <if test="loadBalance.roundType != null">
                round_type,
            </if>
            <if test="loadBalance.ipList != null">
                ip_list,
            </if>
            <if test="loadBalance.weightList != null">
                weight_list,
            </if>
            <if test="loadBalance.upstreamConnectTimeout != null">
                upstream_connect_timeout,
            </if>
            <if test="loadBalance.upstreamHeaderTimeout != null">
                upstream_header_timeout,
            </if>
            <if test="loadBalance.upstreamIdleTimeout != null">
                upstream_idle_timeout,
            </if>
            <if test="loadBalance.upstreamMaxIdle != null">
                upstream_max_idle,
            </if>
        </trim>
        <trim prefix="values (" suffixOverrides="," suffix=")">
            <if test="loadBalance.serviceId != null">
                #{loadBalance.serviceId},
            </if>
            <if test="loadBalance.roundType != null">
                #{loadBalance.roundType},
            </if>
            <if test="loadBalance.ipList != null">
                #{loadBalance.ipList},
            </if>
            <if test="loadBalance.weightList != null">
                #{loadBalance.weightList},
            </if>
            <if test="loadBalance.upstreamConnectTimeout != null">
                #{loadBalance.upstreamConnectTimeout},
            </if>
            <if test="loadBalance.upstreamHeaderTimeout != null">
                #{loadBalance.upstreamHeaderTimeout},
            </if>
            <if test="loadBalance.upstreamIdleTimeout != null">
                #{loadBalance.upstreamIdleTimeout},
            </if>
            <if test="loadBalance.upstreamMaxIdle != null">
                #{loadBalance.upstreamMaxIdle},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.kyriexu.model.LoadBalance">
        update gateway_service_load_balance
        <set>
            <trim suffixOverrides=",">
                <if test="loadBalance.roundType != null">
                    round_type = #{loadBalance.roundType},
                </if>
                <if test="loadBalance.ipList != null">
                    ip_list = #{loadBalance.ipList},
                </if>
                <if test="loadBalance.weightList != null">
                    weight_list = #{loadBalance.weightList},
                </if>
                <if test="loadBalance.upstreamConnectTimeout != null">
                    upstream_connect_timeout = #{loadBalance.upstreamConnectTimeout},
                </if>
                <if test="loadBalance.upstreamHeaderTimeout != null">
                    upstream_header_timeout = #{loadBalance.upstreamHeaderTimeout},
                </if>
                <if test="loadBalance.upstreamIdleTimeout != null">
                    upstream_idle_timeout = #{loadBalance.upstreamIdleTimeout},
                </if>
                <if test="loadBalance.upstreamMaxIdle != null">
                    upstream_max_idle = #{loadBalance.upstreamMaxIdle},
                </if>
            </trim>
        </set>
        <where>
            service_id = #{loadBalance.serviceId}
        </where>
    </update>

    <select id="get" resultType="com.kyriexu.model.LoadBalance">
        select *
        from gateway_service_load_balance
        where service_id = #{serviceId};
    </select>
</mapper>