<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyriexu.dao.ServiceDao">
    <resultMap id="serviceInfo"
               type="com.kyriexu.model.ServiceInfo">
        <result column="is_delete" javaType="java.lang.Boolean"
                property="deleted"/>
    </resultMap>
    <insert id="saveServiceInfo" useGeneratedKeys="true" keyProperty="info.id"
            keyColumn="id">
        insert into gateway_service_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="info.loadType != null">
                load_type,
            </if>
            <if test="info.serviceName != null">
                service_name,
            </if>
            <if test="info.serviceDesc != null">
                service_desc,
            </if>
            <if test="info.createAt != null">
                create_at,
            </if>
            <if test="info.updateAt != null">
                update_at,
            </if>
            <if test="info.deleted != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="info.loadType != null">
                #{info.loadType},
            </if>
            <if test="info.serviceName != null">
                #{info.serviceName},
            </if>
            <if test="info.serviceDesc != null">
                #{info.serviceDesc},
            </if>
            <if test="info.createAt != null">
                #{info.createAt},
            </if>
            <if test="info.updateAt != null">
                #{info.updateAt},
            </if>
            <if test="info.deleted != null">
                #{info.deleted},
            </if>
        </trim>
    </insert>
    <update id="updateServiceInfo"
            parameterType="com.kyriexu.model.ServiceInfo">
        update gateway_service_info
        <set>
            <trim suffixOverrides=",">
                <if test="info.loadType != null">
                    load_type = #{info.loadType},
                </if>
                <if test="info.serviceName != null">
                    service_name = #{info.serviceName},
                </if>
                <if test="info.serviceDesc != null">
                    service_desc = #{info.serviceDesc},
                </if>
                <if test="info.createAt != null">
                    create_at = #{info.createAt},
                </if>
                <if test="info.updateAt != null">
                    update_at = #{info.updateAt},
                </if>
                <if test="info.deleted != null">
                    is_delete =#{info.deleted},
                </if>
            </trim>
        </set>
        <where>
            is_delete = 0 and
            id = #{info.id}
        </where>
    </update>

    <select id="getServiceInfoList"
            resultMap="serviceInfo">
        select *
        from gateway_service_info
        <where>
            is_delete != 1
            <if test="query != null">
                and service_name like concat('%',#{query},'%')
            </if>
        </where>
        order by id desc
        limit #{page},#{size};
    </select>
    <select id="get" resultMap="serviceInfo">
        select *
        from gateway_service_info
        where is_delete != 1
          and id = #{id};
    </select>

    <select id="getTotal" resultType="java.lang.Integer">
        select count(*)
        from gateway_service_info
        <where>
            is_delete != 1
            <if test="query != null">
                and service_name like concat('%',#{query},'%')
            </if>
        </where>
    </select>
    <select id="getByServiceName"
            resultMap="serviceInfo">
        select *
        from gateway_service_info
        where is_delete != 1
          and service_name = #{serviceName};
    </select>
    <select id="countByLoadType"
            resultType="com.kyriexu.dto.ServiceStatItemOutput">
        select load_type, count(*) as value
        from gateway_service_info
        where is_delete = 0
        group by load_type
    </select>
</mapper>