<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyriexu.dao.TcpRuleDao">
    <insert id="add" parameterType="com.kyriexu.model.TcpRule">
        insert into gateway_service_tcp_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tcpRule.serviceId != null">
                service_id,
            </if>
            <if test="tcpRule.port != null">
                port,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tcpRule.serviceId != null">
                #{tcpRule.serviceId},
            </if>
            <if test="tcpRule.port != null">
                #{tcpRule.port},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.kyriexu.model.TcpRule">
        update gateway_service_tcp_rule
            <set>
                <trim suffixOverrides=",">
                    <if test="rule.port != null">
                        port = #{rule.port},
                    </if>
                </trim>
            </set>
            <where>
                service_id = #{rule.serviceId}
            </where>
    </update>


    <select id="get" resultType="com.kyriexu.model.TcpRule">
        select *
        from gateway_service_tcp_rule
        where service_id = #{serviceId};
    </select>
</mapper>